// 实现0.5px的效果
@mixin pi-border-style {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  box-sizing: border-box;
  width: 200%;
  height: 200%;
  pointer-events: none;
  content: ' ';
  border-radius: inherit;
  transform: scale(0.5);
  transform-origin: 0 0;
}

@mixin pi-border {
  position: relative;
  &::after {
    @include pi-border-style;
  }
}
