// 基础设置
$pi-font-size: 28rpx !default; // 文字大小
$pi-font-family: 'PingFang SC', 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei',
  '微软雅黑', Arial, sans-serif !default; // 字体样式
$pi-background-color: #ffffff !default; // 背景颜色
$pi-line-color: #f4f4f4 !default; // 通用线颜色
$pi-placeholder-color: #999999 !default; // placeholder颜色
$pi-content-padding: 24rpx !default; // pi-content内容区域默认padding

// 动画
$pi-animation-duration: 0.3s !default; // 动画执行时长
$pi-animation-timing-function: ease-in-out !default; // 动画执行函数

// 颜色
$pi-font-color: #666666 !default; // 文字颜色
$pi-primary-color: #5a7dff !default; // 主要颜色 // ff6a00
$pi-secondary-color: #6c44a1 !default; // 次级颜色
$pi-tertiary-color: #00a8a4 !default; // 第三级颜色
$pi-fourth-color: #12bc83 !default; // 第四级颜色
$pi-fifth-color: #fcf2f4 !default; // 第五级颜色

// card
$pi-card-title-fontsize: 30rpx !default; // 章节标题字体大小
$pi-card-title-color: #333333 !default; // 章节标题字体大小

// section 章节
$pi-section-border-color: #f4f4f4 !default; // 章节边框颜色
$pi-section-border-width: 4rpx !default; // 章节边框宽度
$pi-section-title-fontsize: 30rpx !default; // 章节标题字体大小
$pi-section-title-color: #333333 !default; // 章节标题字体大小
$pi-section-desc-fontsize: 28rpx !default; // 章节描述字体大小
$pi-section-desc-color: #999999 !default; // 章节描述字体大小
$pi-section-extra-fontsize: 28rpx !default; // 章节描述字体大小
$pi-section-extra-color: #999999 !default; // 章节描述字体大小

// 宫格
$pi-grid-border-color: #f4f4f4 !default; // 宫格边框颜色
$pi-grid-border-width: 2px !default; // 宫格边框宽度

// 列表
$pi-list-border-color: #f4f4f4 !default; // 列表边框颜色
$pi-list-border-width: 4rpx !default; // 列表边框宽度
$pi-list-title-fontsize: 32rpx !default; // 列表项标题字体大小
$pi-list-title-color: #333333 !default; // 列表项标题字体大小
$pi-list-desc-fontsize: 28rpx !default; // 列表项描述字体大小
$pi-list-desc-color: #999999 !default; // 列表项描述字体大小
$pi-list-extra-fontsize: 28rpx !default; // 列表项右侧字体大小
$pi-list-extra-color: #999999 !default; // 列表项右侧字体大小

// 表单
$pi-form-border-color: #f4f4f4 !default; // 列表边框颜色
$pi-form-border-width: 4rpx !default; // 列表边框宽度
$pi-form-size: 32rpx !default; // 表单文字大小
$pi-form-label-size: 32rpx !default; // 表单文字大小
$pi-form-label-weight: 400 !default; // 表单文字大小
$pi-form-label-color: #333333 !default; // 表单label颜色
$pi-form-item-height: 100rpx !default; // 表单高度
$pi-form-input-color: #333333 !default; // 表单输入框颜色
$pi-form-required-color: #c0282f !default; // 表单必选提示颜色

// iphonex底部安全区域背景颜色
$pi-safearea-bg: transparent !default;

// 按钮default样式
$pi-button-default-radius: 8rpx !default;
$pi-button-default-font-size: 32rpx !default;
$pi-button-default-height: 88rpx !default;
$pi-button-default-padding: 0 56rpx !default;

// 按钮large样式
$pi-button-large-radius: 16rpx !default;
$pi-button-large-font-size: 32rpx !default;
$pi-button-large-height: 98rpx !default;
$pi-button-large-padding: 0 64rpx !default;

// 按钮medium样式
$pi-button-medium-radius: 6rpx !default;
$pi-button-medium-font-size: 32rpx !default;
$pi-button-medium-height: 72rpx !default;
$pi-button-medium-padding: 0 48rpx !default;

// 按钮small样式
$pi-button-small-radius: 4rpx !default;
$pi-button-small-font-size: 28rpx !default;
$pi-button-small-height: 64rpx !default;
$pi-button-small-padding: 0 40rpx !default;

// 按钮tiny样式
$pi-button-tiny-radius: 4rpx !default;
$pi-button-tiny-font-size: 28rpx !default;
$pi-button-tiny-height: 56rpx !default;
$pi-button-tiny-padding: 0 32rpx !default;

// 按钮mini样式
$pi-button-mini-radius: 4rpx !default;
$pi-button-mini-font-size: 24rpx !default;
$pi-button-mini-height: 48rpx !default;
$pi-button-mini-padding: 0 24rpx !default;
