// 引入piui 变量声明，可以在uni.scss中进行覆盖
@import './variable.scss';

/**
 * 颜色
 * -------------------------------------------------------------------------------------------------
 */

// 主要颜色
.pi-primary {
  color: $pi-primary-color !important;
}
// 次级颜色
.pi-secondary {
  color: $pi-secondary-color !important;
}
// 第三级颜色
.pi-tertiary {
  color: $pi-tertiary-color !important;
}
// 第四级颜色
.pi-fourth {
  color: $pi-fourth-color !important;
}
// 第五级颜色
.pi-fifth {
  color: $pi-fifth-color !important;
}
// 黑色
.pi-black {
  color: #000000 !important;
}
// 白色
.pi-white {
  color: #ffffff !important;
}
// 灰色
.pi-gray {
  color: #666666 !important;
}
// 灰色禁用
.pi-gray-disable {
  color: #cccccc !important;
}
// 浅灰色
.pi-light-gray {
  color: #999999 !important;
}

/**
 * 背景颜色
 * -------------------------------------------------------------------------------------------------
 */

// 透明背景
.pi-bg-opacity {
  background: transparent;
}
// 背景黑色
.pi-bg-black {
  color: #ffffff;
  background: #000000;
}
// 背景白色
.pi-bg-white {
  color: $pi-font-color;
  background: #ffffff;
}
// 主要颜色
.pi-bg-primary {
  background: $pi-primary-color;
}
// 次级颜色
.pi-bg-secondary {
  background: $pi-secondary-color;
}
// 第三级颜色
.pi-bg-tertiary {
  background: $pi-tertiary-color;
}
// 第四级颜色
.pi-bg-fourth {
  background: $pi-fourth-color;
}
// 第五级颜色
.pi-bg-fifth {
  background: $pi-fifth-color;
}

/**
 * 边框 border
 * -------------------------------------------------------------------------------------------------
 */

// 实现0.5px的效果
@mixin pi-border-style {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  box-sizing: border-box;
  width: 200%;
  height: 200%;
  pointer-events: none;
  content: ' ';
  border-radius: inherit;
  transform: scale(0.5);
  transform-origin: 0 0;
}

@mixin pi-border {
  position: relative;
  &::after {
    @include pi-border-style;
  }
}

[class*='pi-solid'],
[class*='pi-dashed'] {
  @include pi-border;
}

// 生成1-10的边框（实线/虚线）
@for $i from 1 through 10 {
  // 实线
  .pi-solid-#{$i}::after {
    border: 1px * $i solid $pi-line-color;
  }
  .pi-solid-top-#{$i}::after {
    border-top: 1px * $i solid $pi-line-color;
  }
  .pi-solid-right-#{$i}::after {
    border-right: 1px * $i solid $pi-line-color;
  }
  .pi-solid-bottom-#{$i}::after {
    border-bottom: 1px * $i solid $pi-line-color;
  }
  .pi-solid-left-#{$i}::after {
    border-left: 1px * $i solid $pi-line-color;
  }
  // 虚线
  .pi-dashed-#{$i}::after {
    border: 1px * $i dashed $pi-line-color;
  }
  .pi-dashed-top-#{$i}::after {
    border-top: 1px * $i dashed $pi-line-color;
  }
  .pi-dashed-right-#{$i}::after {
    border-right: 1px * $i dashed $pi-line-color;
  }
  .pi-dashed-bottom-#{$i}::after {
    border-bottom: 1px * $i dashed $pi-line-color;
  }
  .pi-dashed-left-#{$i}::after {
    border-left: 1px * $i dashed $pi-line-color;
  }
}

[class*='pi-solid-'],
[class*='pi-dashed-'] {
  &.pi-round::after {
    @extend .pi-round;
  }
}

/**
 * 字体 font
 * -------------------------------------------------------------------------------------------------
 */

// 只取偶数2，4，6，8 ~ 100
@for $i from 2 through 100 {
  @if $i % 2 == 0 {
    // 字号
    .pi-fz-#{$i} {
      font-size: #{$i}rpx !important;
    }
    // 行高
    .pi-lh-#{$i} {
      line-height: #{$i}rpx !important;
    }
  }
}

// 字重，单独生成 500 ~ 900 的font-weight，比如pi-fw-500 pi-fw-900
@for $i from 5 through 9 {
  .pi-fw-#{$i * 100} {
    font-weight: $i * 100;
  }
}

.pi-text-nowrap {
  white-space: nowrap;
}

// 基础行高
.pi-lh-1,
.pi-lh-base {
  line-height: 1;
}

// 文本超出显示省略符
.pi-text-ellipsis {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;

  @extend .pi-text-nowrap;
}

// 文字对齐方向
.pi-text-center {
  text-align: center;
}
.pi-text-left {
  text-align: left;
}
.pi-text-right {
  text-align: right;
}

/**
 * 定位 position
 * -------------------------------------------------------------------------------------------------
 */

// 常用布局定义
.pi-rela {
  position: relative;
}
.pi-abso {
  position: absolute;
}
.pi-fixed {
  position: fixed;
}

// 绝对定位满屏
.pi-abso-full {
  @extend .pi-abso;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
// 绝对定位左上角
.pi-abso-lt {
  @extend .pi-abso;

  top: 0;
  left: 0;
}
// 绝对定位右上角
.pi-abso-rt {
  @extend .pi-abso;

  top: 0;
  right: 0;
}
// 绝对定位左下角
.pi-abso-lb {
  @extend .pi-abso;

  bottom: 0;
  left: 0;
}
// 绝对定位右下角
.pi-abso-rb {
  @extend .pi-abso;

  right: 0;
  bottom: 0;
}
// 绝对定位顶部居中
.pi-abso-top-center {
  @extend .pi-abso;

  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
// 绝对定位底部居中
.pi-abso-bottom-center {
  @extend .pi-abso;

  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
// 绝对定位左侧居中
.pi-abso-left-center {
  @extend .pi-abso;

  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
// 绝对定位右侧居中
.pi-abso-right-center {
  @extend .pi-abso;

  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
// 绝对定位自身居中
.pi-abso-center {
  @extend .pi-abso;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// fixed 定居满屏
.pi-fixed-full {
  @extend .pi-fixed;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
// fixed 左上角
.pi-fixed-top {
  @extend .pi-fixed;

  top: 0;
  left: 0;
}
// fixed 左下角 ，已适配iphonex，如果需要底部内边距，配合.pd-bottom一起使用
.pi-fixed-bottom {
  @extend .pi-fixed;

  bottom: 0;
  left: 0;

  // 定义底部padding是因为考虑到iphonex的兼容性，避免生成大量样式，只取（2 ~ 50 之间的偶数）
  /* stylelint-disable */
  @for $i from 2 through 50 {
    @if $i % 2 == 0 {
      &.pd-bottom-#{$i} {
        padding-bottom: #{$i}rpx;
        padding-bottom: calc(constant(safe-area-inset-bottom) + #{$i}rpx);
        padding-bottom: calc(env(safe-area-inset-bottom) + #{$i}rpx);
      }
    }
  }
}
// 绝对定位自身居中
.pi-fixed-center {
  @extend .pi-fixed;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/**
 * 布局
 * -------------------------------------------------------------------------------------------------
 */

// 正方形（需要两个容器实现）
.pi-square {
  @extend .pi-rela;

  width: 100%;
  height: 0;
  padding-bottom: 100%;

  & > view {
    // 绝对定位占满
    @extend .pi-abso-full;
  }
}

.pi-inline {
  display: inline;
}

.pi-inline-block {
  display: inline-block;
}

.pi-opacity-show {
  opacity: 1;
}

.pi-opacity-hide {
  pointer-events: none; // 鼠标可穿透
  opacity: 0;
}

.pi-visible {
  visibility: visible;
}

.pi-hidden {
  visibility: hidden;
}

.pi-of-hidden {
  overflow: hidden;
}

.pi-of-x-hidden {
  overflow-x: hidden;
}

.pi-of-y-hidden {
  overflow-y: hidden;
}

/**
 * flex 布局
 * -------------------------------------------------------------------------------------------------
 */
.pi-flex {
  display: flex;
}
.pi-flex-sub {
  flex: 1;
}
// flex不可换行
.pi-flex-nowrap {
  @extend .pi-flex;

  flex-wrap: nowrap;
}
// flex可换行
.pi-flex-wrap {
  @extend .pi-flex;

  flex-wrap: wrap;
}
.pi-flex-row {
  @extend .pi-flex;

  flex-direction: row;
}
.pi-flex-column {
  @extend .pi-flex;

  flex-direction: column;
}
.pi-align-start {
  @extend .pi-flex;

  align-items: flex-start;
}
.pi-align-end {
  @extend .pi-flex;

  align-items: flex-end;
}
.pi-align-center {
  @extend .pi-flex;

  align-items: center;
}
.pi-align-stretch {
  @extend .pi-flex;

  align-items: stretch;
}
.pi-align-baseline {
  @extend .pi-flex;

  align-items: baseline;
}
.pi-self-start {
  @extend .pi-flex;

  align-self: flex-start;
}
.pi-self-center {
  @extend .pi-flex;

  align-self: center;
}
.pi-self-end {
  @extend .pi-flex;

  align-self: flex-end;
}
.pi-self-stretch {
  @extend .pi-flex;

  align-self: stretch;
}
.pi-justify-start {
  @extend .pi-flex;

  justify-content: flex-start;
}
.pi-justify-end {
  @extend .pi-flex;

  justify-content: flex-end;
}
.pi-justify-center {
  @extend .pi-flex;

  justify-content: center;
}
.pi-justify-between {
  @extend .pi-flex;

  justify-content: space-between;
}
.pi-justify-around {
  @extend .pi-flex;

  justify-content: space-around;
}
// 横向flex中心居中
.pi-flex-row-center {
  @extend .pi-flex-row;
  @extend .pi-justify-center;
  @extend .pi-align-center;
}

// 纵向flex中心居中
.pi-flex-column-center {
  @extend .pi-flex-column;
  @extend .pi-justify-center;
  @extend .pi-align-center;
}

/**
 * grid 宫格布局（子元素平分父级元素宽度，可配合 pi-square 生成正方形宫格）
 * -------------------------------------------------------------------------------------------------
 */

// 生成宫格列边框（传入列数）
@mixin col-border($n) {
  &.border {
    & > view {
      @include pi-border;
      &::after {
        border: 0 solid $pi-line-color;
        // 只生成右下边框
        border-right-width: 1px;
        border-bottom-width: 1px;
      }
      // 每行第一个生成左边框
      &:nth-child(#{$n}n + 1)::after {
        border-left-width: 1px;
      }
      // 前n个元素生成上边框
      &:nth-child(-n + #{$n})::before {
        @include pi-border-style;

        border-top: 1px solid $pi-line-color;
      }
    }
  }
  // 如果有间隔的情况下（边框全部生成）
  &[class*='pi-grid-space'] > view::after {
    border-width: 1px;
  }
}

// 生成宫格间隔（间隔宽度，列数）
@mixin space-calc($i, $n) {
  & > view {
    // 减去间隔后，平分宽度
    width: calc((100% - #{($n - 1) * $i}rpx) / #{$n});
    margin-bottom: #{$i}rpx;
    // 除了最后一列，其余的都加上右margin
    &:not(:nth-child(#{$n}n)) {
      margin-right: #{$i}rpx;
    }
  }
}
.pi-grid {
  @extend .pi-flex-wrap;
  & > view {
    width: 100%;
  }
  &.border {
    & > view {
      @include pi-border;
      &::after {
        border: 0 solid $pi-line-color;
        // 只生成右下边框
        border-width: 0 1px 1px 1px;
      }
      // 第一个元素生成上边框
      &:first-child::before {
        @include pi-border-style;

        border-top: 1px solid $pi-line-color;
      }
    }
    // 如果有间隔的情况下（边框全部生成）
    &[class*='pi-grid-space'] > view::after {
      border-width: 1px;
    }
  }
}
.pi-grid-2 {
  @extend .pi-flex-wrap;
  & > view {
    width: 50%;
  }

  @include col-border(2);
}
.pi-grid-3 {
  @extend .pi-flex-wrap;
  & > view {
    width: calc(100% / 3);
  }

  @include col-border(3);
}
.pi-grid-4 {
  @extend .pi-flex-wrap;
  & > view {
    width: 25%;
  }

  @include col-border(4);
}
.pi-grid-5 {
  @extend .pi-flex-wrap;
  & > view {
    width: 20%;
  }

  @include col-border(5);
}
.pi-grid-6 {
  @extend .pi-flex-wrap;
  & > view {
    width: calc(100% / 6);
  }

  @include col-border(6);
}

// 处理列之间需要有空隙情况
@for $i from 1 through 40 {
  // 只处理偶数
  @if $i % 2 == 0 {
    .pi-grid.pi-grid-space-#{$i} {
      & > view {
        margin-bottom: #{$i}rpx;
      }
    }
    .pi-grid-2.pi-grid-space-#{$i} {
      @include space-calc($i, 2);
    }
    .pi-grid-3.pi-grid-space-#{$i} {
      @include space-calc($i, 3);
    }
    .pi-grid-4.pi-grid-space-#{$i} {
      @include space-calc($i, 4);
    }
    .pi-grid-5.pi-grid-space-#{$i} {
      @include space-calc($i, 5);
    }
    .pi-grid-6.pi-grid-space-#{$i} {
      @include space-calc($i, 6);
    }
  }
}

/* 表单 form
---------------------- */
.pi-form {
  display: block;
  width: 100%;

  .item {
    @extend .pi-rela;
    @extend .pi-flex-nowrap;
    @extend .pi-justify-between;
    @extend .pi-bg-white;

    transition: all $pi-animation-duration ease-in-out;
    // 表单label（如果需要固定宽度对齐，请使用pi-w 配合text-align）
    .label {
      flex-shrink: 0; // 默认不收缩
      height: $pi-form-item-height;
      font-size: $pi-form-font-size;
      font-weight: $pi-form-font-weight;
      line-height: $pi-form-item-height;
      color: $pi-form-label-color;
    }
    &.required .label {
      // 必选红点
      position: relative;
      padding-left: 24rpx;
      &::after {
        position: absolute;
        top: 50%;
        left: 0;
        color: $pi-form-required-color;
        content: '*';
        transform: translateY(-50%);
      }
    }
    .input {
      flex: 1;
      margin-left: 40rpx;
      font-size: $pi-form-font-size;
      color: $pi-form-input-color;
      text-align: right;
      background: none;
      border: 0;
    }

    .other {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: flex-end;
      margin-left: 40rpx;
      overflow: hidden;
      font-size: $pi-form-font-size;
      .input {
        margin-left: 0;
      }
    }
    &.display-model {
      // 显示模式
      .pi-form-label {
        color: #999999;
      }
      .input {
        color: #000000;
        text-align: left;
      }
    }
    // 显示边框（如果需要定制边框，自行使用pi-solid-x实现）
    &.border {
      @include pi-border;
      &::after {
        border-bottom: 1px solid $pi-line-color;
      }
    }
    &.wrap {
      // 换行模式显示
      flex-direction: column;
      align-items: flex-start;
      .label,
      .other,
      textarea {
        width: 100%;
      }
      .input,
      .other {
        justify-content: flex-start;
        margin-left: 0;
        text-align: left;
      }
      .other {
        padding-bottom: 32rpx;
      }
    }
    // item里面放置picker显示效果
    picker {
      @extend .other;

      height: $pi-form-item-height;
      line-height: $pi-form-item-height;
      text-align: right;
    }
    picker text {
      font-size: 28upx;
      color: #333333;
    }
  }
}

/**
 * 列表
 * -------------------------------------------------------------------------------------------------
 */
.pi-list {
  @extend .pi-bg-white;
  .item {
    @extend .pi-rela;
    @extend .pi-align-center;

    transition: all $pi-animation-duration ease-in-out;
  }
}

/**
 * 初始化全局样式
 * -------------------------------------------------------------------------------------------------
 */
body,
page {
  font-family: $pi-font-family;
  font-size: $pi-font-size;
  color: $pi-font-color;
  background-color: $pi-background-color;
}

view,
scroll-view,
swiper,
button,
input,
textarea,
label,
navigator,
image {
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}

// 解决image加载闪烁的问题
image {
  width: 100%;
  height: 0;
  height: auto;
  will-change: transform;
}

// 按钮样式修改
button {
  height: $pi-button-height;
  margin: 0;
  font-size: $pi-button-fontsize;
  font-weight: 500;
  line-height: $pi-button-height;
  background: transparent;
  border: none;
  border-radius: 0;
  transition: all $pi-animation-duration ease-in-out;

  &::after {
    background: transparent;
    border: none;
  }
  // 默认样式
  &[type='default'] {
    color: $pi-primary-color;
    background-color: #ffffff;
    &.border::after {
      border: 4rpx solid $pi-primary-color;
    }
    &.mini {
      height: $pi-button-mini-height;
      line-height: $pi-button-mini-height;
    }
  }
  &[disabled][type='default'] {
    color: $pi-primary-color;
    background-color: #ffffff;
    opacity: 0.2;
    &.border::after {
      border: 4rpx solid $pi-primary-color;
    }
    &.mini {
      height: $pi-button-mini-height;
      line-height: $pi-button-mini-height;
    }
  }
  &.button-hover[type='default'] {
    color: $pi-primary-color;
    background-color: #ffffff;
    opacity: 0.8;
  }
  &[loading][type='default'] {
    color: hsla(0, 0%, 100%, 0.6);
    background-color: #ffffff;
  }
  // 主要样式
  &[type='primary'] {
    color: #ffffff;
    background-color: $pi-primary-color;
    &.mini {
      height: $pi-button-mini-height;
      line-height: $pi-button-mini-height;
    }
  }
  &[disabled][type='primary'] {
    background-color: $pi-primary-color;
    opacity: 0.2;
  }
  &.button-hover[type='primary'] {
    background-color: $pi-primary-color;
    opacity: 0.8;
  }
  &[loading][type='primary'] {
    color: hsla(0, 0%, 100%, 0.6);
    background-color: $pi-primary-color;
  }
}

// 用于没有scroll-view时候的容器，默认铺满整个视窗，y轴内容溢出滚动
.pi-container {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

// 用于scroll-view时候的容器
.pi-scroll-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--window-bottom));
  overflow: hidden;
  // 滚动视区
  .pi-scroll {
    position: relative;
    flex: 1;
    height: 100%;
    overflow: hidden;
  }
}

// 内容区域
.pi-content {
  padding: $pi-content-padding;

  @extend .pi-bg-white;
}

// 圆形
.pi-radius-circle {
  border-radius: 50%;
}

// 椭圆效果
.pi-round {
  overflow: hidden;
  border-radius: 500000rpx;
}

// 安全区域，兼容iphonex
.pi-safearea {
  padding-bottom: 0;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  background: $pi-safearea-bg;
}

// 底部按钮
.pi-bottom-btns {
  @extend .pi-w-100P;
  @extend .pi-align-center;

  background-color: #ffffff;
  &.box-shadow {
    box-shadow: 0 -4rpx 10rpx 0 rgba(0, 0, 0, 0.06);
  }
}

// input
.placeholder {
  color: $uni-text-color-grey;
}
.uni-input-placeholder {
  color: $pi-placeholder-color;
}

// 右箭头（更多）
.more {
  position: relative;
  &::before {
    position: absolute;
    top: 50%;
    right: 32rpx;
    font-family: 'piui';
    font-size: 32rpx;
    color: #d2d2d2;
    content: '\E6A3';
    transform: translateY(-50%);
  }
}

/**
 * 预设常用样式 只取双数 ，这里循环次数太多，只使用缩写模式
 * -------------------------------------------------------------------------------------------------
 */
@for $i from 1 through 100 {
  @if $i % 2 == 0 {
    /* padding */
    .pi-pd-#{$i} {
      padding: #{$i}rpx;
    }
    .pi-pd-top-#{$i} {
      padding-top: #{$i}rpx;
    }
    .pi-pd-right-#{$i} {
      padding-right: #{$i}rpx;
    }
    .pi-pd-bottom-#{$i} {
      padding-bottom: #{$i}rpx;
    }
    .pi-pd-left-#{$i} {
      padding-left: #{$i}rpx;
    }
    .pi-pd-tb-#{$i} {
      padding-top: #{$i}rpx;
      padding-bottom: #{$i}rpx;
    }
    .pi-pd-lr-#{$i} {
      padding-right: #{$i}rpx;
      padding-left: #{$i}rpx;
    }

    /* margin */
    .pi-mg-#{$i} {
      margin: #{$i}rpx;
    }
    .pi-mg-top-#{$i} {
      margin-top: #{$i}rpx;
    }
    .pi-mg-right-#{$i} {
      margin-right: #{$i}rpx;
    }
    .pi-mg-bottom-#{$i} {
      margin-bottom: #{$i}rpx;
    }
    .pi-mg-left-#{$i} {
      margin-left: #{$i}rpx;
    }
    .pi-mg-tb-#{$i} {
      margin-top: #{$i}rpx;
      margin-bottom: #{$i}rpx;
    }
    .pi-mg-lr-#{$i} {
      margin-right: #{$i}rpx;
      margin-left: #{$i}rpx;
    }

    // width & height
    .pi-w-#{$i} {
      width: #{$i}rpx;
    }
    .pi-h-#{$i} {
      height: #{$i}rpx;
    }

    // radius
    .pi-radius-#{$i} {
      border-radius: #{$i}rpx;
    }

    // line-height
    .pi-lh-#{$i} {
      line-height: #{$i}rpx;
    }
  }
}

/**
 * 常用宽高定义
 * -------------------------------------------------------------------------------------------------
 */
.pi-w-100vw {
  width: 100vw;
}
.pi-w-100P {
  width: 100%;
}
.pi-h-100vh {
  height: 100vh;
}
.pi-h-100P {
  height: 100%;
}
