@import './animation.scss';
@import './variable.scss';

/* 字体 font
---------------------- */

// line-height
.pi-lh-base {
  line-height: 1;
}

.pi-bold {
  font-weight: bold;
}

@for $i from 1 through 9 {
  .pi-fw-#{$i * 100} {
    font-weight: $i * 100;
  }
}

.pi-line-through {
  text-decoration: line-through;
}
.pi-italic {
  font-style: italic;
}
.pi-indent {
  text-indent: 2em;
}

.pi-text-Abc {
  text-transform: Capitalize;
}

.pi-text-ABC {
  text-transform: Uppercase;
}

.pi-text-abc {
  text-transform: Lowercase;
}

.pi-text-price::before {
  margin-right: 4rpx;
  font-size: 80%;
  content: '¥';
}

.pi-text-price.en::before {
  content: '$';
}

.pi-text-cut,
.pi-ellipsis {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pi-text-bold {
  font-weight: bold;
}

.pi-text-center {
  text-align: center;
}

.pi-text-content {
  line-height: 1.6;
}

.pi-text-left {
  text-align: left;
}

.pi-text-right {
  text-align: right;
}

/* 文字颜色 */
.pi-black {
  color: #0e151d;
}
.pi-white {
  color: #ffffff;
}
.pi-blue {
  color: #3688ff;
}
.pi-light-blue {
  color: #afcfff;
}
.pi-blue-sky {
  color: #61cbef;
}
.pi-gray {
  color: #666666;
}
.pi-light-gray {
  color: #999999;
}
.pi-gray-disable {
  color: #cccccc;
}

.pi-red {
  color: #e76b61;
}
.pi-yellow {
  color: #ffcc00;
}
.pi-light-yellow {
  color: #ecd1a8;
}
.pi-green {
  color: #9dd26d;
}

.pi-default {
  color: $pi-font-color;
}

.pi-primary {
  color: $pi-primary-color;
}

.pi-secondary {
  color: $pi-secondary-color;
}

.pi-tertiary {
  color: $pi-tertiary-color;
}

.pi-fourth {
  color: $pi-fourth-color;
}

.pi-fifth {
  color: $pi-fifth-color;
}

/* 背景 background
---------------------- */

/* 背景颜色 */
.pi-bg-black {
  color: #ffffff;
  background: #000000;
}
.pi-bg-white {
  color: $pi-font-color;
  background: #ffffff;
}
.pi-bg-blue {
  color: #ffffff;
  background: #3688ff;
}
.pi-bg-blue-sky {
  color: #ffffff;
  background: #61cbef;
}
.pi-bg-light-gray {
  background: #f2f2f2;
}
.pi-bg-gray {
  background: #a5a7b2;
}
.pi-bg-red {
  color: #ffffff;
  background: #e76b61;
}
.pi-bg-green {
  color: #ffffff;
  background: #9dd26d;
}
.pi-bg-yellow {
  color: #ffffff;
  background: #ffcc00;
}
.pi-bg-light-blue {
  color: #ffffff;
  background: #afcfff;
}
.pi-bg-light-yellow {
  color: #ffffff;
  background: #ecd1a8;
}

.pi-bg-primary {
  color: #ffffff;
  background: $pi-primary-color;
}

.pi-bg-secondary {
  color: #ffffff;
  background: $pi-secondary-color;
}

.pi-bg-tertiary {
  color: #ffffff;
  background: $pi-tertiary-color;
}

.pi-bg-fourth {
  color: #ffffff;
  background: $pi-fourth-color;
}

.pi-bg-fifth {
  color: #ffffff;
  background: $pi-fifth-color;
}

.pi-bg-opacity {
  background: transparent;
}

/*************************
image
**************************/

.pi-image {
  position: relative;
  z-index: 0;
  display: inline-block;
  max-width: 100%;
}

.pi-imgbg {
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.pi-imgbg-center {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
}
.pi-imgbg-bc {
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% auto;
}

/*************************
定位
**************************/
.pi-absolute {
  position: absolute;
}
.pi-relative {
  position: relative;
}
.pi-fixed {
  position: fixed;
}

// absolute
.pi-absolute-top {
  @extend .pi-absolute;

  top: 0;
  left: 0;
  z-index: 2;
}
.pi-absolute-center {
  @extend .pi-absolute;

  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}

.pi-absolute-lt {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.pi-absolute-rt {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
.pi-absolute-lb {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.pi-absolute-rb {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}

// fixed
.pi-fixed-full {
  @extend .pi-fixed;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.pi-fixed-top {
  @extend .pi-fixed;

  top: 0;
  left: 0;
  z-index: 2;
}

.pi-fixed-bottom {
  @extend .pi-fixed;
  @extend .pi-safearea;

  &.spac {
    padding: 16rpx 32rpx;
    padding-bottom: 16rpx;
    padding-bottom: calc(constant(safe-area-inset-bottom) + 16rpx);
    padding-bottom: calc(env(safe-area-inset-bottom) + 16rpx);
  }

  bottom: 0;
  left: 0;
  z-index: 2;
}

.pi-fixed-center {
  @extend .pi-fixed;

  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}

/* ==================
         导航栏
 ==================== */
.pi-navi {
  white-space: nowrap;
  &::-webkit-scrollbar {
    display: none;
  }
  &.border {
    @include pi-border;
    &::after {
      border-bottom: 1px solid $pi-line-color;
    }
  }
  .pi-navi-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $pi-navi-height;
    padding: 0 20rpx;
    font-size: 32rpx;
    font-weight: 500;
    line-height: $pi-navi-height;
    &.active {
      color: $pi-navi-active-color;
      &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4rpx;
        content: '';
        background: $pi-navi-active-color;
        transition: background ease-in-out 0.3s;
      }
    }
  }
}

/*************************
布局
**************************/
// 正方形
.pi-square {
  @extend .pi-relative;

  width: 100%;
  height: 0;
  padding-bottom: 100%;

  & > .pi-square-content {
    @extend .pi-absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.pi-width-100vw {
  width: 100vw;
}

.pi-width-100P {
  width: 100%;
}

.pi-height-100vh {
  height: 100vh;
}

.pi-height-100P {
  height: 100%;
}

.pi-show {
  display: inherit;
}

.pi-inline {
  display: inline;
}

.pi-inline-block {
  display: inline-block;
}

.pi-hide {
  display: none;
}

.pi-visible {
  visibility: visible;
}

.pi-hidden {
  visibility: hidden;
}

.pi-of-hidden {
  overflow: hidden;
}

.pi-of-x-hidden {
  overflow-x: hidden;
}

.pi-of-y-hidden {
  overflow-y: hidden;
}

.pi-of-auto {
  overflow: auto;
}

.pi-of-x-auto {
  overflow-x: auto;
}

.pi-of-y-auto {
  overflow-y: auto;
}

.pi-flex {
  display: flex;
}

.pi-flex-wrap {
  @extend .pi-flex;

  flex-wrap: wrap;
}

.pi-flex-row {
  @extend .pi-flex;

  flex-direction: row;
}

.pi-flex-column {
  @extend .pi-flex;

  flex-direction: column;
}

.pi-flex-sub {
  flex: 1;
}

.pi-flex-twice {
  flex: 2;
}

.pi-flex-treble {
  flex: 3;
}

.pi-align-start {
  @extend .pi-flex;

  align-items: flex-start;
}

.pi-align-end {
  @extend .pi-flex;

  align-items: flex-end;
}

.pi-align-center {
  @extend .pi-flex;

  align-items: center;
}

.pi-align-stretch {
  @extend .pi-flex;

  align-items: stretch;
}

.pi-align-baseline {
  @extend .pi-flex;

  align-items: baseline;
}

.pi-self-start {
  @extend .pi-flex;

  align-self: flex-start;
}

.pi-self-center {
  @extend .pi-flex;

  align-self: flex-center;
}

.pi-self-end {
  @extend .pi-flex;

  align-self: flex-end;
}

.pi-self-stretch {
  @extend .pi-flex;

  align-self: stretch;
}

.pi-justify-start {
  @extend .pi-flex;

  justify-content: flex-start;
}

.pi-justify-end {
  @extend .pi-flex;

  justify-content: flex-end;
}

.pi-justify-center {
  @extend .pi-flex;

  justify-content: center;
}

.pi-justify-between {
  @extend .pi-flex;

  justify-content: space-between;
}

.pi-justify-around {
  @extend .pi-flex;

  justify-content: space-around;
}

.pi-flex-row-center {
  @extend .pi-flex-row;
  @extend .pi-justify-center;
  @extend .pi-align-center;
}

.pi-flex-column-center {
  @extend .pi-flex-column;
  @extend .pi-justify-center;
  @extend .pi-align-center;
}

// grid布局
.pi-grid {
  display: flex;
  flex-wrap: wrap;
}

@mixin multi-border($n) {
  &.pi-grid-border {
    & > view {
      @include pi-border;
      &:not(:nth-last-child(-n + #{$n})) {
        &::after {
          border-bottom: 1px solid $pi-line-color;
        }
      }
      &:not(:nth-child(#{$n}n)) {
        &::after {
          border-right: 1px solid $pi-line-color;
        }
      }
    }
  }
}

.pi-grid.pi-col-2 {
  & > view {
    width: 50%;
  }

  @include multi-border(2);
}

.pi-grid.pi-col-3 {
  & > view {
    width: calc(100% / 3);
  }

  @include multi-border(3);
}

.pi-grid.pi-col-4 {
  & > view {
    width: 25%;
  }

  @include multi-border(4);
}

.pi-grid.pi-col-5 {
  & > view {
    width: 20%;
  }

  @include multi-border(5);
}

.pi-grid.pi-col-6 {
  & > view {
    width: calc(100% / 6);
  }

  @include multi-border(6);
}

.pi-grid.pi-col-1 {
  & > view {
    width: 100%;
  }
  &.pi-grid-border {
    & > view {
      @include pi-border;
      &::after {
        border-bottom: 1px solid $pi-line-color;
      }
    }
  }
}

@mixin space-calc($i, $n) {
  & > view {
    width: calc((100% - #{($n - 1) * $i}rpx) / #{$n});
    &:not(:nth-last-child(-n + #{$n})) {
      margin-bottom: #{$i}rpx;
    }
    &:not(:nth-child(#{$n}n)) {
      margin-right: #{$i}rpx;
    }
  }
}

// 处理列之间需要有空隙情况
@for $i from 1 through 50 {
  .pi-grid.pi-col-1.pi-col-space-#{$i} {
    & > view {
      margin-bottom: #{$i}rpx;
    }
  }
  .pi-grid.pi-col-2.pi-col-space-#{$i} {
    @include space-calc($i, 2);
  }
  .pi-grid.pi-col-3.pi-col-space-#{$i} {
    @include space-calc($i, 3);
  }
  .pi-grid.pi-col-4.pi-col-space-#{$i} {
    @include space-calc($i, 4);
  }
  .pi-grid.pi-col-5.pi-col-space-#{$i} {
    @include space-calc($i, 5);
  }
  .pi-grid.pi-col-6.pi-col-space-#{$i} {
    @include space-calc($i, 6);
  }
}

/* 浮动 */
.pi-cf::after,
.pi-cf::before {
  display: table;
  content: ' ';
}

.pi-cf::after {
  clear: both;
}

.pi-fl {
  float: left;
}

.pi-fr {
  float: right;
}

/* 表单 form
---------------------- */
.pi-form {
  display: block;
  width: 100%;

  .pi-form-item {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 32rpx;
    background: #ffffff;
    transition: all 0.6s ease-in-out 0s;
    .pi-form-label {
      flex-shrink: 0;
      height: $pi-form-item-height;
      font-size: $pi-form-font-size;
      font-weight: $pi-form-font-weight;
      line-height: $pi-form-item-height;
      color: $pi-form-label-color;
      &.pi-form-require {
        // 必选红点
        position: relative;
        padding-left: 24rpx;
        &::after {
          position: absolute;
          top: 50%;
          left: 0;
          color: $pi-form-require-color;
          content: '*';
          transform: translateY(-50%);
        }
      }
    }
    .input {
      flex: 1;
      margin-left: 40rpx;
      font-size: $pi-form-font-size;
      color: $pi-form-input-color;
      text-align: right;
      background: none;
      border: 0;
    }

    .pi-form-other {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: flex-end;
      margin-left: 40rpx;
      overflow: hidden;
      font-size: $pi-form-font-size;
      .input {
        margin-left: 0;
      }
    }
    &.display-model {
      // 显示模式
      .pi-form-label {
        color: #999999;
      }
      .input {
        color: #000000;
        text-align: left;
      }
    }
    &.more {
      padding-right: 72rpx;
      &::before {
        position: absolute;
        top: 50%;
        right: 32rpx;
        font-family: 'piui';
        font-size: 16px;
        color: #d2d2d2;
        content: '\E6A3';
        transform: translateY(-50%);
      }
    }
    &.border {
      @include pi-border;
      &::after {
        border-bottom: 1px solid $pi-line-color;
      }
    }
    &.wrap {
      // 换行模式显示
      flex-direction: column;
      align-items: flex-start;
      .pi-form-label,
      .pi-form-other,
      textarea {
        width: 100%;
      }
      .input,
      .pi-form-other {
        justify-content: flex-start;
        margin-left: 0;
        text-align: left;
      }
      .pi-form-other {
        padding-bottom: 32rpx;
      }
    }
    &.no-padding {
      padding: 0;
    }

    .pi-form-sub {
      @extend .pi-form-other;

      flex: 1;
    }

    picker {
      @extend .pi-form-other;

      height: $pi-form-item-height;
      line-height: $pi-form-item-height;
      text-align: right;
    }
    picker text {
      font-size: 28upx;
      color: #333333;
    }
    textarea {
      font-size: $pi-form-font-size;
      color: #333333;
      text-align: left;
      background: none;
      border: 0;
    }
    // 多选框颜色和标签
    checkbox-group label {
      &:not(:last-child) {
        padding-right: 24rpx;
      }
    }
    .uni-checkbox-input {
      background-color: #cccccc;
      border: 0;
      &::before {
        color: #ffffff;
      }
      &.uni-checkbox-input-checked {
        color: #ffffff;
        background-color: $pi-fourth-color;
        border-radius: 4rpx;
      }
    }
    // 单选框颜色修改
    switch {
      .uni-switch-input.uni-switch-input-checked {
        background-color: $pi-fourth-color !important;
        border-color: $pi-fourth-color !important;
      }
    }
    label {
      display: flex;
      align-items: center;
      color: #333333;
    }
  }
}

.pi-upload {
  $radius: $pi-upload-radius;

  position: relative;
  display: inline-block;
  width: $radius;
  height: $radius;
  overflow: hidden;
  background-color: #f6f6f6;
  border-radius: 8rpx;
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: 'piui';
    font-size: 60rpx;
    color: #a4a4a4;
    text-align: center;
    content: '\e6e4';
    transform: translate(-50%, -50%);
  }
}

/* 边框 border
---------------------- */
[class*='pi-solid'],
[class*='pi-dashed'] {
  @include pi-border;
}

// 生成1-10的边框（实线/虚线）
@for $i from 1 through 10 {
  // 实线
  .pi-solid-#{$i}::after {
    border: 1px * $i solid $pi-line-color;
  }
  .pi-solid-top-#{$i}::after {
    border-top: 1px * $i solid $pi-line-color;
  }
  .pi-solid-right-#{$i}::after {
    border-right: 1px * $i solid $pi-line-color;
  }
  .pi-solid-bottom-#{$i}::after {
    border-bottom: 1px * $i solid $pi-line-color;
  }
  .pi-solid-left-#{$i}::after {
    border-left: 1px * $i solid $pi-line-color;
  }
  // 虚线
  .pi-dashed-#{$i}::after {
    border: 1px * $i dashed $pi-line-color;
  }
  .pi-dashed-top-#{$i}::after {
    border-top: 1px * $i dashed $pi-line-color;
  }
  .pi-dashed-right-#{$i}::after {
    border-right: 1px * $i dashed $pi-line-color;
  }
  .pi-dashed-bottom-#{$i}::after {
    border-bottom: 1px * $i dashed $pi-line-color;
  }
  .pi-dashed-left-#{$i}::after {
    border-left: 1px * $i dashed $pi-line-color;
  }
}

[class*='pi-solid-'],
[class*='pi-dashed-'] {
  &.pi-round::after {
    border-radius: 500000rpx;
  }
}

/* ==================
          头像
 ==================== */
.pi-avatar {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 64rpx;
  height: 64rpx;
  padding: 0;
  margin: 0;
  font-size: 1.5em;
  font-variant: small-caps;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.pi-avatar.sm {
  width: 48rpx;
  height: 48rpx;
  font-size: 1em;
}

.pi-avatar.lg {
  width: 96rpx;
  height: 96rpx;
  font-size: 2em;
}

.pi-avatar.xl {
  width: 128rpx;
  height: 128rpx;
  font-size: 2.5em;
}

.pi-avatar .avatar-text {
  font-size: 0.4em;
}

.pi-avatar-group {
  display: inline-block;
  padding: 0 10rpx 0 40rpx;
  direction: rtl;
  unicode-bidi: bidi-override;
}

.pi-avatar-group .pi-avatar {
  margin-left: -30rpx;
  vertical-align: middle;
  border: 4rpx solid #f1f1f1;
}

.pi-avatar-group .pi-avatar.sm {
  margin-left: -20rpx;
  border: 1rpx solid #f1f1f1;
}

/*************************
 列表
**************************/
.more {
  position: relative;
  padding-right: 42rpx;
  &::before {
    position: absolute;
    top: 50%;
    right: 0;
    font-family: 'piui';
    font-size: 32rpx;
    color: #d2d2d2;
    content: '\E6A3';
    transform: translateY(-50%);
  }
}

.pi-list {
  background: #ffffff;
  .pi-list-item {
    position: relative;
    display: flex;
    align-items: center;
    transition: all 0.6s ease-in-out 0s;

    /* 列表左滑操作 */
    &.pi-move {
      transform: translateX(-260rpx);
    }
    & > .pi-action {
      position: absolute;
      right: 0;
      display: flex;
      width: 260rpx;
      height: 100%;
      transform: translateX(100%);
      view {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
      }
    }
    &.more {
      padding-right: 72rpx;
      &::before {
        position: absolute;
        top: 50%;
        right: 32rpx;
        font-family: 'piui';
        font-size: 16px;
        color: #d2d2d2;
        content: '\E6A3';
        transform: translateY(-50%);
      }
    }
    &.border {
      @include pi-border;
      &::after {
        border-bottom: 1px solid $pi-line-color;
      }
    }

    /* 列表头像 */
    .pi-list-avatar {
      overflow: hidden;
    }
  }
}

/* 预设常用样式 */
@for $i from 1 through 100 {
  /* font-size */
  .pi-fz-#{$i} {
    font-size: 1rpx * $i;
  }

  /* padding */
  .pi-pd-#{$i} {
    padding: 1rpx * $i;
  }
  .pi-pd-top-#{$i} {
    padding-top: 1rpx * $i;
  }
  .pi-pd-right-#{$i} {
    padding-right: 1rpx * $i;
  }
  .pi-pd-bottom-#{$i} {
    padding-bottom: 1rpx * $i;
  }
  .pi-pd-left-#{$i} {
    padding-left: 1rpx * $i;
  }
  .pi-pd-tb-#{$i} {
    padding-top: 1rpx * $i;
    padding-bottom: 1rpx * $i;
  }
  .pi-pd-lr-#{$i} {
    padding-right: 1rpx * $i;
    padding-left: 1rpx * $i;
  }

  /* margin */
  .pi-mg-#{$i} {
    margin: 1rpx * $i;
  }
  .pi-mg-top-#{$i} {
    margin-top: 1rpx * $i;
  }
  .pi-mg-right-#{$i} {
    margin-right: 1rpx * $i;
  }
  .pi-mg-bottom-#{$i} {
    margin-bottom: 1rpx * $i;
  }
  .pi-mg-left-#{$i} {
    margin-left: 1rpx * $i;
  }
  .pi-mg-tb-#{$i} {
    margin-top: 1rpx * $i;
    margin-bottom: 1rpx * $i;
  }
  .pi-mg-lr-#{$i} {
    margin-right: 1rpx * $i;
    margin-left: 1rpx * $i;
  }
  // width & height
  .pi-width-#{$i} {
    width: 1rpx * $i;
  }
  .pi-height-#{$i} {
    height: 1rpx * $i;
  }

  // radius
  .pi-radius-#{$i} {
    border-radius: 1rpx * $i;
  }

  // line-height
  .pi-lh-#{$i} {
    line-height: 1rpx * $i;
  }
}

/*************************
初始化全局样式
**************************/
body,
page {
  font-family: $pi-font-family;
  font-size: $pi-font-size;
  color: $pi-font-color;
  background-color: $pi-background-color;
}

view,
scroll-view,
swiper,
button,
input,
textarea,
label,
navigator,
image {
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}

// 解决image加载闪烁的问题
image {
  width: 100%;
  height: 0;
  height: auto;
  will-change: transform;
}

// 按钮样式修改
button {
  height: $pi-button-height;
  margin: 0;
  font-size: $pi-button-fontsize;
  font-weight: 500;
  line-height: $pi-button-height;
  background: transparent;
  border: none;
  border-radius: 0;
  transition: all 0.6s ease-in-out;

  &::after {
    background: transparent;
    border: none;
  }
  // 默认样式
  &[type='default'] {
    color: $pi-primary-color;
    background-color: #ffffff;
    &.border::after {
      border: 4rpx solid $pi-primary-color;
    }
    &.mini {
      height: $pi-button-mini-height;
      line-height: $pi-button-mini-height;
    }
  }
  &[disabled][type='default'] {
    color: $pi-primary-color;
    background-color: #ffffff;
    opacity: 0.2;
    &.border::after {
      border: 4rpx solid $pi-primary-color;
    }
    &.mini {
      height: $pi-button-mini-height;
      line-height: $pi-button-mini-height;
    }
  }
  &.button-hover[type='default'] {
    color: $pi-primary-color;
    background-color: #ffffff;
    opacity: 0.8;
  }
  &[loading][type='default'] {
    color: hsla(0, 0%, 100%, 0.6);
    background-color: #ffffff;
  }
  // 主要样式
  &[type='primary'] {
    color: #ffffff;
    background-color: $pi-primary-color;
    &.mini {
      height: $pi-button-mini-height;
      line-height: $pi-button-mini-height;
    }
  }
  &[disabled][type='primary'] {
    background-color: $pi-primary-color;
    opacity: 0.2;
  }
  &.button-hover[type='primary'] {
    background-color: $pi-primary-color;
    opacity: 0.8;
  }
  &[loading][type='primary'] {
    color: hsla(0, 0%, 100%, 0.6);
    background-color: $pi-primary-color;
  }
}

.pi-radius-circle {
  border-radius: 50%;
}

// 用于没有scroll-view时候的容器
.pi-container {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

// 用于scroll-view时候的容器
.pi-scroll-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--window-bottom));
  overflow: hidden;

  .pi-scroll {
    position: relative;
    flex: 1;
    height: 100%;
    overflow: hidden;
  }
}

// 页面内容区域
.pi-content {
  padding: 24rpx 32rpx;
  background: #ffffff;
}

.pi-round {
  overflow: hidden;
  border-radius: 500000rpx;
}

.pi-safearea {
  z-index: 4;
  padding-bottom: 0;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  background: $pi-safearea-bg;
}

.uni-input-placeholder {
  color: $pi-placeholder-color;
}

.pi-bottom-btns {
  @extend .pi-width-100P;
  @extend .pi-align-center;

  background-color: #ffffff;
  &.box-shadow {
    box-shadow: 0 -4rpx 10rpx 0 rgba(0, 0, 0, 0.06);
  }
}

.pi-bottom-area {
  @extend .pi-safearea;

  box-sizing: content-box;
  height: $pi-button-height + $pi-form-item-height; // 按钮高度 + 表单高度
}

.placeholder {
  color: $uni-text-color-grey;
}

@for $i from 1 through 10 {
  .pi-mask-#{$i} {
    @extend .pi-fixed-top;
    @extend .pi-width-100P;
    @extend .pi-height-100P;

    z-index: 11;
    background: rgba(0, 0, 0, $i/10);
  }
}
