// 基础设置
$pi-font-size: 28rpx !default; // 文字大小
$pi-font-family: 'PingFang SC', 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei',
  '微软雅黑', Arial, sans-serif !default; // 字体样式
$pi-background-color: #ffffff !default; // 背景颜色
$pi-line-color: #d6e4ef !default; // 线颜色
$pi-placeholder-color: #999999 !default; // placeholder颜色
$pi-content-padding: 24rpx !default; // pi-content内容区域默认padding
// 动画
$pi-animation-duration: 0.3s !default; // 动画执行时长
// 颜色
$pi-font-color: #333333 !default; // 文字颜色
$pi-primary-color: #ff6a00 !default; // 主要颜色
$pi-secondary-color: #6c44a1 !default; // 次级颜色
$pi-tertiary-color: #00a8a4 !default; // 第三级颜色
$pi-fourth-color: #12bc83 !default; // 第四级颜色
$pi-fifth-color: #fcf2f4 !default; // 第五级颜色
// 表单
$pi-form-font-size: 32rpx !default; // 表单文字大小
$pi-form-font-weight: 400 !default; // 表单文字大小
$pi-form-label-color: #333333 !default; // 表单label颜色
$pi-form-item-height: 88rpx !default; // 表单高度
$pi-form-input-color: #333333 !default; // 表单输入框颜色
$pi-form-required-color: #c0282f !default; // 表单必选提示颜色
// iphonex底部安全区域背景颜色
$pi-safearea-bg: transparent !default;

// 按钮default样式
$pi-button-default-font-size: 28rpx !default;
$pi-button-default-height: 88rpx !default;

// 按钮medium样式
$pi-button-medium-font-size: 26rpx !default;
$pi-button-medium-height: 70rpx !default;
$pi-button-medium-padding: 0 40rpx !default;

// 按钮mini样式
$pi-button-mini-font-size: 22rpx !default;
$pi-button-mini-height: 52rpx !default;
$pi-button-mini-padding: 0 20rpx !default;
