/* #ifdef H5 */
uni-page {
  opacity: 0;
}
uni-page.animation-show {
  opacity: 1;
}

uni-page.animation-enter,
uni-page.animation-leave {
  transition: all 0.3s $pi-animation-timing-function;
}

uni-page.animation-forward {
  transform: translateX(-100%);
}
uni-page.animation-back {
  transform: translateX(100%);
}


uni-page.animation-afterstart-forward {
  transform: translateX(100%);
}
uni-page.animation-afterstart-back {
  transform: translateX(-100%);
}

uni-page.animation-after {
  /* 在页面上使用 transform 会导致页面内的 fixed 定位渲染为 absolute，需要在动画完成后移除 */
  transition: inherit;
  transform: inherit;
}

/* #endif */
