 function countData(insDataset,scrollLeft,ins) {
   var ind = parseInt(scrollLeft / insDataset.cellWidth) // 当前选中是第几个
   var dLen = (insDataset.endNum - insDataset.startNum) / insDataset.cellNum // 如果略微超过最右边 则也为最后一个
   if (ind > dLen) {
      ind = dLen
   }
   var num = parseInt((ind * insDataset.cellNum + insDataset.startNum)*100)/100
   ins.callMethod('emitDataChange',{num:num})
   return {ind,dLen}
 }
 function scrollHandler (e,ins) {
   var scrollprop = e.instance.getDataset().scrollProp
   var state = ins.getState()
   var translateX = state.translateX
   state.movedX = scrollprop.cellWidth * Math.floor((e.changedTouches[0].pageX - state.startX) / 20)
   translateX = state.translateX + state.movedX
   if(translateX > 0){
     translateX = 0
     state.movedX = 0
     state.translateX = 0
   }
   if(translateX < - scrollprop.cellWidth * scrollprop.cells * (scrollprop.endNum - scrollprop.startNum)){
     translateX = - scrollprop.cellWidth * scrollprop.cells * (scrollprop.endNum - scrollprop.startNum)
     state.movedX = 0
     state.translateX = - scrollprop.cellWidth * scrollprop.cells * (scrollprop.endNum - scrollprop.startNum)
   }
   countData(scrollprop,Math.abs(translateX),ins)
   ins.selectComponent('.slide-scroll').setStyle({
     'transform':'translateX('+ translateX +'px)'
   })
    return false
 }
 function touchstartHandler(e,ins){
   var state = ins.getState()
   var scrollprop = e.instance.getDataset().scrollProp
   state.startX = e.changedTouches[0].pageX
   if(!state.setDefault){
     state.translateX = - (scrollprop.defaultNum - scrollprop.startNum) *
            scrollprop.cells * scrollprop.cellWidth
     state.setDefault = true
   }
   if(!state.translateX){
     state.translateX = 0
   }
 }
 function touchendHandler(e,ins){
   var state = ins.getState()
   state.translateX += state.movedX
 }
 module.exports = {
   scrollHandler:scrollHandler,
   touchstartHandler:touchstartHandler,
   touchendHandler:touchendHandler
 }
